<!DOCTYPE html>
<html>
  <head>
    {% block head %}<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- default stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/holo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sticky_footer.css') }}">{% endblock head %}

    <!-- Extra styles -->{% block extra_styles %}{% endblock extra_styles %}

    <title>{% block title %}Index{% endblock title %}</title>
  </head>

  <body>
    <!-- header -->{% block header %}
    <div class="container">

      <div id="header">
        <h1><b>Hashbrowns</b> - the Stylish Hashgen</h1>
      </div>

      <div id="tabbednav">
        <ul class="nav nav-tabs nav-left">
          <li role="presentation"><a href="{{ url_for('hashbrowns') }}">Hashbrowns</a></li>
          <li role="presentation"><a href="#">Contact</a></li>
          <li role="presentation"><a href="{{ url_for('index') }}">Index</a></li>
        </ul>
      </div>

    </div>{% endblock header %}

    <br> <!-- for spacing underneath #tabbednav -->

    <!-- Page content -->{% block content %}
    <div class="container">
      Buddy you're a boy make a big noise<br>
      Playin' in the street gonna be a big man some day<br>
      You got mud on yo' face<br>
      You big disgrace<br>
      Kickin' your can all over the place<br>
      Singin'<br>
      <br>
      We will we will rock you<br>
      We will we will rock you<br>
    </div>{% endblock content %}

    <!-- footer -->{% block footer %}
    <footer class="footer">
      <div class="container">
          <p class="text-muted text-left">Copyright 2015, CoD.</p>
      </div>
    </footer>{% endblock footer %}

    <!-- loading jQuery and custom bootstrap.js  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>
